<a href="https://colab.research.google.com/github/siyeol/Natural-Language-Processing/blob/main/Pandas_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Software Coaching for Python
# Week 3: Pandas Dataframes - Homework

Instructor: Kang-Pyo Lee

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')
path = "/content/gdrive/Shareddrives/SW_Coaching_for_Python"
my_folder = "SYC"     # *** REPLACE WITH YOUR FOLDER NAME ***
outcome_folder = f"{path}/{my_folder}/outcome"
classdata_folder = f"{path}/classdata"

Mounted at /content/gdrive

## Element Selection from a Dataframe

In [ ]:
import pandas as pd
pd.set_option('display.max_colwidth', 150)

df = pd.read_csv(f"{classdata_folder}/timeline_NASA.csv", sep="\t")
df

                status_id  ...              retweet_created_at
0     1354552906175934477  ...                             NaN
1     1354549784061865986  ...                             NaN
2     1354546326139265030  ...                             NaN
3     1354542309988327425  ...                             NaN
4     1354540246436872195  ...  Wed Jan 27 20:18:56 +0000 2021
...                   ...  ...                             ...
3195  1265370733930307585  ...  Tue May 26 19:36:00 +0000 2020
3196  1265365848098816002  ...                             NaN
3197  1265327291468562432  ...                             NaN
3198  1265327258274840576  ...                             NaN
3199  1265317908068085761  ...  Tue May 26 16:09:54 +0000 2020

[3200 rows x 7 columns]

1\. Get the list of column labels of `df`.

In [ ]:
# Your answer here
df.columns

Index(['status_id', 'created_at', 'text', 'retweet_count', 'favorite_count',
       'is_retweet', 'retweet_created_at'],
      dtype='object')

2\. Get the list of row index positions of `df`.

In [ ]:
# Your answer here
df.index

RangeIndex(start=0, stop=3200, step=1)

3\. Get the shape of `df`.

In [ ]:
# Your answer here
df.shape

(3200, 7)

4\. Get the number of rows in `df`.

In [ ]:
# Your answer here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   status_id           3200 non-null   int64
 1   created_at          3200 non-null   object
 2   text                3200 non-null   object
 3   retweet_count       3200 non-null   int64
 4   favorite_count      3200 non-null   int64
 5   is_retweet          3200 non-null   int64
 6   retweet_created_at  816 non-null    object
dtypes: int64(4), object(3)
memory usage: 175.1+ KB

5\. Select all values from the `created_at` column.

In [ ]:
# Your answer here
list(df.created_at)

['Wed Jan 27 22:12:33 +0000 2021',
 'Wed Jan 27 22:00:09 +0000 2021',
 'Wed Jan 27 21:46:25 +0000 2021',
 'Wed Jan 27 21:30:27 +0000 2021',
 'Wed Jan 27 21:22:15 +0000 2021',
 'Wed Jan 27 20:04:59 +0000 2021',
 'Wed Jan 27 19:32:23 +0000 2021',
 'Wed Jan 27 19:15:05 +0000 2021',
 'Wed Jan 27 18:36:21 +0000 2021',
 'Wed Jan 27 18:01:20 +0000 2021',
 'Wed Jan 27 17:45:42 +0000 2021',
 'Wed Jan 27 17:30:07 +0000 2021',
 'Wed Jan 27 16:46:56 +0000 2021',
 'Wed Jan 27 16:30:23 +0000 2021',
 'Wed Jan 27 16:13:55 +0000 2021',
 'Wed Jan 27 15:23:35 +0000 2021',
 'Wed Jan 27 15:12:23 +0000 2021',
 'Wed Jan 27 14:59:16 +0000 2021',
 'Wed Jan 27 14:58:34 +0000 2021',
 'Wed Jan 27 14:28:32 +0000 2021',
 'Wed Jan 27 14:07:34 +0000 2021',
 'Wed Jan 27 13:38:24 +0000 2021',
 'Wed Jan 27 13:31:15 +0000 2021',
 'Wed Jan 27 13:23:47 +0000 2021',
 'Wed Jan 27 13:10:20 +0000 2021',
 'Wed Jan 27 13:07:20 +0000 2021',
 'Wed Jan 27 13:06:15 +0000 2021',
 'Wed Jan 27 13:01:11 +0000 2021',
 'Wed Jan 27 12:17:09 +0000 2021',
 'Wed Jan 27 12:04:28 +0000 2021',
 'Wed Jan 27 11:32:50 +0000 2021',
 'Wed Jan 27 11:01:33 +0000 2021',
 'Wed Jan 27 10:30:50 +0000 2021',
 'Wed Jan 27 10:15:49 +0000 2021',
 'Wed Jan 27 01:55:19 +0000 2021',
 'Tue Jan 26 23:25:01 +0000 2021',
 'Tue Jan 26 22:10:32 +0000 2021',
 'Tue Jan 26 21:48:29 +0000 2021',
 'Tue Jan 26 20:04:46 +0000 2021',
 'Tue Jan 26 19:28:00 +0000 2021',
 'Tue Jan 26 17:46:10 +0000 2021',
 'Tue Jan 26 17:30:39 +0000 2021',
 'Tue Jan 26 17:19:09 +0000 2021',
 'Tue Jan 26 16:24:12 +0000 2021',
 'Tue Jan 26 15:57:21 +0000 2021',
 'Tue Jan 26 15:33:52 +0000 2021',
 'Mon Jan 25 23:26:17 +0000 2021',
 'Mon Jan 25 23:14:47 +0000 2021',
 'Mon Jan 25 21:05:06 +0000 2021',
 'Mon Jan 25 15:33:01 +0000 2021',
 'Mon Jan 25 15:24:00 +0000 2021',
 'Sun Jan 24 22:25:07 +0000 2021',
 'Sun Jan 24 19:55:01 +0000 2021',
 'Sun Jan 24 19:52:29 +0000 2021',
 'Sat Jan 23 21:59:16 +0000 2021',
 'Sat Jan 23 21:26:11 +0000 2021',
 'Sat Jan 23 20:45:01 +0000 2021',
 'Sat Jan 23 17:32:00 +0000 2021',
 'Sat Jan 23 01:57:25 +0000 2021',
 'Fri Jan 22 23:08:00 +0000 2021',
 'Fri Jan 22 20:00:42 +0000 2021',
 'Fri Jan 22 19:19:29 +0000 2021',
 'Fri Jan 22 18:24:04 +0000 2021',
 'Fri Jan 22 17:57:08 +0000 2021',
 'Fri Jan 22 16:32:00 +0000 2021',
 'Fri Jan 22 02:07:02 +0000 2021',
 'Thu Jan 21 23:33:45 +0000 2021',
 'Thu Jan 21 22:32:05 +0000 2021',
 'Thu Jan 21 21:37:30 +0000 2021',
 'Thu Jan 21 20:14:52 +0000 2021',
 'Wed Jan 20 16:02:46 +0000 2021',
 'Wed Jan 20 01:10:01 +0000 2021',
 'Tue Jan 19 22:35:16 +0000 2021',
 'Tue Jan 19 22:19:50 +0000 2021',
 'Tue Jan 19 22:16:09 +0000 2021',
 'Tue Jan 19 21:58:35 +0000 2021',
 'Tue Jan 19 20:56:00 +0000 2021',
 'Tue Jan 19 17:15:00 +0000 2021',
 'Tue Jan 19 16:32:22 +0000 2021',
 'Tue Jan 19 01:27:06 +0000 2021',
 'Mon Jan 18 21:34:39 +0000 2021',
 'Mon Jan 18 20:36:20 +0000 2021',
 'Mon Jan 18 16:04:00 +0000 2021',
 'Mon Jan 18 15:51:53 +0000 2021',
 'Mon Jan 18 15:09:26 +0000 2021',
 'Mon Jan 18 02:37:26 +0000 2021',
 'Sun Jan 17 20:08:06 +0000 2021',
 'Sun Jan 17 19:42:47 +0000 2021',
 'Sun Jan 17 17:44:53 +0000 2021',
 'Sun Jan 17 17:18:43 +0000 2021',
 'Sun Jan 17 02:50:22 +0000 2021',
 'Sun Jan 17 02:16:22 +0000 2021',
 'Sun Jan 17 02:01:05 +0000 2021',
 'Sun Jan 17 02:00:05 +0000 2021',
 'Sun Jan 17 01:30:57 +0000 2021',
 'Sun Jan 17 01:14:14 +0000 2021',
 'Sun Jan 17 01:06:54 +0000 2021',
 'Sun Jan 17 00:16:47 +0000 2021',
 'Sat Jan 16 23:47:50 +0000 2021',
 'Sat Jan 16 22:39:59 +0000 2021',
 'Sat Jan 16 22:19:50 +0000 2021',
 'Sat Jan 16 22:17:03 +0000 2021',
 'Sat Jan 16 22:14:39 +0000 2021',
 'Sat Jan 16 21:35:53 +0000 2021',
 'Sat Jan 16 21:09:36 +0000 2021',
 'Sat Jan 16 20:59:57 +0000 2021',
 'Sat Jan 16 20:43:06 +0000 2021',
 'Sat Jan 16 20:40:33 +0000 2021',
 'Sat Jan 16 20:36:34 +0000 2021',
 'Sat Jan 16 20:35:12 +0000 2021',
 'Sat Jan 16 20:31:14 +0000 2021',
 'Sat Jan 16 20:30:34 +0000 2021',
 'Sat Jan 16 20:20:37 +0000 2021',
 'Sat Jan 16 19:39:04 +0000 2021',
 'Sat Jan 16 18:00:03 +0000 2021',
 'Sat Jan 16 17:44:28 +0000 2021',
 'Sat Jan 16 17:24:46 +0000 2021',
 'Sat Jan 16 17:03:56 +0000 2021',
 'Sat Jan 16 02:01:24 +0000 2021',
 'Sat Jan 16 00:46:13 +0000 2021',
 'Fri Jan 15 23:26:06 +0000 2021',
 'Fri Jan 15 23:22:42 +0000 2021',
 'Fri Jan 15 22:25:01 +0000 2021',
 'Fri Jan 15 21:51:34 +0000 2021',
 'Fri Jan 15 21:16:05 +0000 2021',
 'Fri Jan 15 20:25:27 +0000 2021',
 'Fri Jan 15 20:11:42 +0000 2021',
 'Fri Jan 15 18:50:47 +0000 2021',
 'Fri Jan 15 17:03:16 +0000 2021',
 'Fri Jan 15 16:27:35 +0000 2021',
 'Fri Jan 15 16:16:38 +0000 2021',
 'Fri Jan 15 16:12:14 +0000 2021',
 'Fri Jan 15 16:10:00 +0000 2021',
 'Fri Jan 15 14:53:16 +0000 2021',
 'Fri Jan 15 14:35:41 +0000 2021',
 'Thu Jan 14 23:20:00 +0000 2021',
 'Thu Jan 14 22:58:00 +0000 2021',
 'Thu Jan 14 22:21:01 +0000 2021',
 'Thu Jan 14 21:48:14 +0000 2021',
 'Thu Jan 14 20:11:37 +0000 2021',
 'Thu Jan 14 19:49:35 +0000 2021',
 'Thu Jan 14 18:03:22 +0000 2021',
 'Thu Jan 14 17:24:37 +0000 2021',
 'Thu Jan 14 13:02:30 +0000 2021',
 'Thu Jan 14 06:27:39 +0000 2021',
 'Thu Jan 14 01:49:39 +0000 2021',
 'Thu Jan 14 01:35:29 +0000 2021',
 'Thu Jan 14 01:33:54 +0000 2021',
 'Wed Jan 13 20:36:56 +0000 2021',
 'Wed Jan 13 20:12:09 +0000 2021',
 'Wed Jan 13 18:49:59 +0000 2021',
 'Wed Jan 13 17:35:01 +0000 2021',
 'Wed Jan 13 16:14:39 +0000 2021',
 'Wed Jan 13 16:13:07 +0000 2021',
 'Wed Jan 13 16:11:04 +0000 2021',
 'Wed Jan 13 16:03:51 +0000 2021',
 'Wed Jan 13 01:16:31 +0000 2021',
 'Tue Jan 12 22:35:01 +0000 2021',
 'Tue Jan 12 21:04:00 +0000 2021',
 'Tue Jan 12 20:55:41 +0000 2021',
 'Tue Jan 12 19:28:30 +0000 2021',
 'Tue Jan 12 18:04:30 +0000 2021',
 'Tue Jan 12 17:27:01 +0000 2021',
 'Tue Jan 12 17:22:13 +0000 2021',
 'Tue Jan 12 16:55:50 +0000 2021',
 'Tue Jan 12 14:44:00 +0000 2021',
 'Tue Jan 12 14:09:09 +0000 2021',
 'Tue Jan 12 13:53:37 +0000 2021',
 'Tue Jan 12 13:47:26 +0000 2021',
 'Tue Jan 12 13:40:01 +0000 2021',
 'Tue Jan 12 13:31:50 +0000 2021',
 'Tue Jan 12 13:00:37 +0000 2021',
 'Tue Jan 12 12:38:26 +0000 2021',
 'Tue Jan 12 04:56:58 +0000 2021',
 'Mon Jan 11 23:43:48 +0000 2021',
 'Mon Jan 11 22:45:01 +0000 2021',
 'Mon Jan 11 19:29:53 +0000 2021',
 'Mon Jan 11 17:34:29 +0000 2021',
 'Mon Jan 11 17:29:05 +0000 2021',
 'Mon Jan 11 16:40:01 +0000 2021',
 'Mon Jan 11 15:54:17 +0000 2021',
 'Mon Jan 11 15:45:25 +0000 2021',
 'Mon Jan 11 15:24:38 +0000 2021',
 'Mon Jan 11 15:04:33 +0000 2021',
 'Mon Jan 11 14:54:06 +0000 2021',
 'Mon Jan 11 14:11:03 +0000 2021',
 'Mon Jan 11 14:00:46 +0000 2021',
 'Mon Jan 11 13:51:44 +0000 2021',
 'Mon Jan 11 01:03:01 +0000 2021',
 'Sun Jan 10 21:13:00 +0000 2021',
 'Sun Jan 10 00:36:30 +0000 2021',
 'Sat Jan 09 23:21:00 +0000 2021',
 'Sat Jan 09 20:14:06 +0000 2021',
 'Sat Jan 09 19:54:46 +0000 2021',
 'Sat Jan 09 17:03:58 +0000 2021',
 'Sat Jan 09 02:05:22 +0000 2021',
 'Fri Jan 08 22:46:01 +0000 2021',
 'Fri Jan 08 22:03:31 +0000 2021',
 'Fri Jan 08 20:56:25 +0000 2021',
 'Fri Jan 08 20:16:25 +0000 2021',
 'Fri Jan 08 19:44:40 +0000 2021',
 'Fri Jan 08 19:23:00 +0000 2021',
 'Fri Jan 08 16:17:11 +0000 2021',
 'Fri Jan 08 14:22:12 +0000 2021',
 'Fri Jan 08 00:10:06 +0000 2021',
 'Thu Jan 07 22:40:01 +0000 2021',
 'Thu Jan 07 21:41:49 +0000 2021',
 'Thu Jan 07 17:58:01 +0000 2021',
 'Thu Jan 07 17:06:42 +0000 2021',
 'Thu Jan 07 16:23:51 +0000 2021',
 'Thu Jan 07 16:04:42 +0000 2021',
 'Thu Jan 07 15:57:05 +0000 2021',
 'Thu Jan 07 15:46:07 +0000 2021',
 'Wed Jan 06 18:54:48 +0000 2021',
 'Wed Jan 06 17:18:01 +0000 2021',
 'Wed Jan 06 16:59:26 +0000 2021',
 'Wed Jan 06 16:26:02 +0000 2021',
 'Wed Jan 06 15:35:25 +0000 2021',
 'Wed Jan 06 15:31:19 +0000 2021',
 'Wed Jan 06 15:17:25 +0000 2021',
 'Wed Jan 06 15:03:23 +0000 2021',
 'Wed Jan 06 14:50:47 +0000 2021',
 'Wed Jan 06 14:45:34 +0000 2021',
 'Wed Jan 06 14:10:27 +0000 2021',
 'Wed Jan 06 00:47:34 +0000 2021',
 'Wed Jan 06 00:35:01 +0000 2021',
 'Tue Jan 05 23:02:01 +0000 2021',
 'Tue Jan 05 21:49:21 +0000 2021',
 'Tue Jan 05 19:32:01 +0000 2021',
 'Tue Jan 05 17:58:45 +0000 2021',
 'Tue Jan 05 17:05:00 +0000 2021',
 'Tue Jan 05 00:04:06 +0000 2021',
 'Mon Jan 04 21:56:00 +0000 2021',
 'Mon Jan 04 21:25:15 +0000 2021',
 'Mon Jan 04 20:58:46 +0000 2021',
 'Mon Jan 04 19:30:01 +0000 2021',
 'Mon Jan 04 17:40:10 +0000 2021',
 'Mon Jan 04 16:06:17 +0000 2021',
 'Sun Jan 03 23:19:06 +0000 2021',
 'Sun Jan 03 20:10:22 +0000 2021',
 'Sun Jan 03 16:57:00 +0000 2021',
 'Sat Jan 02 21:15:00 +0000 2021',
 'Sat Jan 02 17:55:00 +0000 2021',
 'Fri Jan 01 23:30:00 +0000 2021',
 'Fri Jan 01 20:55:01 +0000 2021',
 'Fri Jan 01 19:00:51 +0000 2021',
 'Fri Jan 01 18:11:57 +0000 2021',
 'Fri Jan 01 16:10:28 +0000 2021',
 'Fri Jan 01 02:04:49 +0000 2021',
 'Thu Dec 31 23:10:30 +0000 2020',
 'Thu Dec 31 20:13:01 +0000 2020',
 'Thu Dec 31 19:46:19 +0000 2020',
 'Thu Dec 31 19:12:51 +0000 2020',
 'Thu Dec 31 18:18:00 +0000 2020',
 'Thu Dec 31 17:04:53 +0000 2020',
 'Thu Dec 31 16:35:03 +0000 2020',
 'Thu Dec 31 14:48:50 +0000 2020',
 'Wed Dec 30 22:55:00 +0000 2020',
 'Wed Dec 30 20:49:04 +0000 2020',
 'Wed Dec 30 20:43:35 +0000 2020',
 'Wed Dec 30 17:36:20 +0000 2020',
 'Wed Dec 30 16:21:17 +0000 2020',
 'Wed Dec 30 00:08:01 +0000 2020',
 'Tue Dec 29 22:42:01 +0000 2020',
 'Tue Dec 29 20:42:29 +0000 2020',
 'Tue Dec 29 20:00:40 +0000 2020',
 'Tue Dec 29 19:05:00 +0000 2020',
 'Tue Dec 29 16:40:29 +0000 2020',
 'Tue Dec 29 16:06:28 +0000 2020',
 'Tue Dec 29 00:40:07 +0000 2020',
 'Mon Dec 28 23:04:49 +0000 2020',
 'Mon Dec 28 22:30:26 +0000 2020',
 'Mon Dec 28 21:36:02 +0000 2020',
 'Mon Dec 28 20:20:01 +0000 2020',
 'Mon Dec 28 17:56:01 +0000 2020',
 'Mon Dec 28 14:09:02 +0000 2020',
 'Sun Dec 27 20:15:01 +0000 2020',
 'Sun Dec 27 17:05:07 +0000 2020',
 'Sun Dec 27 00:10:43 +0000 2020',
 'Sat Dec 26 21:08:06 +0000 2020',
 'Sat Dec 26 19:10:01 +0000 2020',
 'Sat Dec 26 17:05:00 +0000 2020',
 'Fri Dec 25 22:54:06 +0000 2020',
 'Fri Dec 25 19:20:01 +0000 2020',
 'Fri Dec 25 17:18:01 +0000 2020',
 'Fri Dec 25 15:10:06 +0000 2020',
 'Thu Dec 24 23:15:06 +0000 2020',
 'Thu Dec 24 21:12:18 +0000 2020',
 'Thu Dec 24 18:56:57 +0000 2020',
 'Thu Dec 24 16:10:00 +0000 2020',
 'Thu Dec 24 11:57:15 +0000 2020',
 'Thu Dec 24 06:27:52 +0000 2020',
 'Thu Dec 24 00:56:00 +0000 2020',
 'Wed Dec 23 23:08:01 +0000 2020',
 'Wed Dec 23 20:10:02 +0000 2020',
 'Wed Dec 23 19:48:18 +0000 2020',
 'Wed Dec 23 18:24:00 +0000 2020',
 'Wed Dec 23 17:05:00 +0000 2020',
 'Wed Dec 23 14:08:53 +0000 2020',
 'Wed Dec 23 01:05:00 +0000 2020',
 'Tue Dec 22 22:55:49 +0000 2020',
 'Tue Dec 22 22:43:03 +0000 2020',
 'Tue Dec 22 21:45:03 +0000 2020',
 'Tue Dec 22 21:24:40 +0000 2020',
 'Tue Dec 22 18:06:00 +0000 2020',
 'Tue Dec 22 17:22:45 +0000 2020',
 'Tue Dec 22 16:43:27 +0000 2020',
 'Tue Dec 22 16:42:54 +0000 2020',
 'Tue Dec 22 16:42:20 +0000 2020',
 'Tue Dec 22 16:41:39 +0000 2020',
 'Tue Dec 22 16:41:06 +0000 2020',
 'Tue Dec 22 16:39:44 +0000 2020',
 'Tue Dec 22 16:38:37 +0000 2020',
 'Tue Dec 22 16:20:00 +0000 2020',
 'Tue Dec 22 11:30:16 +0000 2020',
 'Tue Dec 22 00:35:00 +0000 2020',
 'Mon Dec 21 23:09:48 +0000 2020',
 'Mon Dec 21 22:39:54 +0000 2020',
 'Mon Dec 21 22:18:29 +0000 2020',
 'Mon Dec 21 22:15:52 +0000 2020',
 'Mon Dec 21 22:07:21 +0000 2020',
 'Mon Dec 21 21:42:32 +0000 2020',
 'Mon Dec 21 21:27:06 +0000 2020',
 'Mon Dec 21 21:17:01 +0000 2020',
 'Mon Dec 21 20:41:18 +0000 2020',
 'Mon Dec 21 19:05:00 +0000 2020',
 'Mon Dec 21 18:01:10 +0000 2020',
 'Mon Dec 21 17:37:37 +0000 2020',
 'Mon Dec 21 17:37:24 +0000 2020',
 'Mon Dec 21 17:37:05 +0000 2020',
 'Mon Dec 21 17:36:45 +0000 2020',
 'Mon Dec 21 17:36:25 +0000 2020',
 'Mon Dec 21 17:36:12 +0000 2020',
 'Mon Dec 21 17:36:01 +0000 2020',
 'Mon Dec 21 17:35:44 +0000 2020',
 'Mon Dec 21 17:35:33 +0000 2020',
 'Mon Dec 21 17:35:21 +0000 2020',
 'Mon Dec 21 17:35:08 +0000 2020',
 'Mon Dec 21 17:34:56 +0000 2020',
 'Mon Dec 21 17:34:45 +0000 2020',
 'Mon Dec 21 17:34:32 +0000 2020',
 'Mon Dec 21 17:34:18 +0000 2020',
 'Mon Dec 21 17:34:05 +0000 2020',
 'Mon Dec 21 17:33:50 +0000 2020',
 'Mon Dec 21 17:33:30 +0000 2020',
 'Mon Dec 21 17:32:39 +0000 2020',
 'Mon Dec 21 17:30:52 +0000 2020',
 'Mon Dec 21 17:30:43 +0000 2020',
 'Mon Dec 21 02:03:02 +0000 2020',
 'Mon Dec 21 00:42:02 +0000 2020',
 'Sun Dec 20 21:32:56 +0000 2020',
 'Sun Dec 20 20:06:01 +0000 2020',
 'Sat Dec 19 22:16:00 +0000 2020',
 'Sat Dec 19 20:06:27 +0000 2020',
 'Sat Dec 19 17:08:00 +0000 2020',
 'Sat Dec 19 00:17:22 +0000 2020',
 'Fri Dec 18 22:12:00 +0000 2020',
 'Fri Dec 18 21:58:51 +0000 2020',
 'Fri Dec 18 20:01:20 +0000 2020',
 'Fri Dec 18 19:02:06 +0000 2020',
 'Fri Dec 18 18:02:00 +0000 2020',
 'Fri Dec 18 16:26:22 +0000 2020',
 'Fri Dec 18 14:59:51 +0000 2020',
 'Fri Dec 18 00:15:00 +0000 2020',
 'Thu Dec 17 22:15:00 +0000 2020',
 'Thu Dec 17 21:08:44 +0000 2020',
 'Thu Dec 17 20:01:21 +0000 2020',
 'Thu Dec 17 19:00:05 +0000 2020',
 'Thu Dec 17 18:12:32 +0000 2020',
 'Thu Dec 17 16:49:12 +0000 2020',
 'Thu Dec 17 15:50:50 +0000 2020',
 'Thu Dec 17 00:11:00 +0000 2020',
 'Wed Dec 16 22:40:06 +0000 2020',
 'Wed Dec 16 20:00:51 +0000 2020',
 'Wed Dec 16 19:47:11 +0000 2020',
 'Wed Dec 16 19:38:30 +0000 2020',
 'Wed Dec 16 19:14:19 +0000 2020',
 'Wed Dec 16 15:08:42 +0000 2020',
 'Wed Dec 16 01:42:58 +0000 2020',
 'Wed Dec 16 01:42:02 +0000 2020',
 'Wed Dec 16 00:54:00 +0000 2020',
 'Tue Dec 15 23:35:01 +0000 2020',
 'Tue Dec 15 21:10:01 +0000 2020',
 'Tue Dec 15 20:04:55 +0000 2020',
 'Tue Dec 15 19:01:48 +0000 2020',
 'Tue Dec 15 16:38:06 +0000 2020',
 'Tue Dec 15 16:27:25 +0000 2020',
 'Tue Dec 15 14:45:17 +0000 2020',
 'Mon Dec 14 22:03:00 +0000 2020',
 'Mon Dec 14 21:41:34 +0000 2020',
 'Mon Dec 14 19:07:23 +0000 2020',
 'Mon Dec 14 16:38:01 +0000 2020',
 'Mon Dec 14 15:59:35 +0000 2020',
 'Mon Dec 14 15:32:49 +0000 2020',
 'Mon Dec 14 14:09:01 +0000 2020',
 'Sun Dec 13 20:01:32 +0000 2020',
 'Sun Dec 13 18:56:56 +0000 2020',
 'Sun Dec 13 17:00:02 +0000 2020',
 'Sun Dec 13 00:00:02 +0000 2020',
 'Sat Dec 12 20:00:01 +0000 2020',
 'Sat Dec 12 17:00:02 +0000 2020',
 'Sat Dec 12 16:00:01 +0000 2020',
 'Sat Dec 12 02:00:35 +0000 2020',
 'Sat Dec 12 01:00:02 +0000 2020',
 'Sat Dec 12 00:00:00 +0000 2020',
 'Fri Dec 11 23:00:01 +0000 2020',
 'Fri Dec 11 20:59:13 +0000 2020',
 'Fri Dec 11 18:35:49 +0000 2020',
 'Fri Dec 11 18:07:19 +0000 2020',
 'Fri Dec 11 17:04:32 +0000 2020',
 'Fri Dec 11 16:18:58 +0000 2020',
 'Fri Dec 11 01:03:01 +0000 2020',
 'Thu Dec 10 23:10:14 +0000 2020',
 'Thu Dec 10 21:35:00 +0000 2020',
 'Thu Dec 10 20:08:18 +0000 2020',
 'Thu Dec 10 19:40:44 +0000 2020',
 'Thu Dec 10 18:35:00 +0000 2020',
 'Thu Dec 10 18:17:04 +0000 2020',
 'Thu Dec 10 17:02:54 +0000 2020',
 'Thu Dec 10 16:42:09 +0000 2020',
 'Thu Dec 10 16:16:12 +0000 2020',
 'Thu Dec 10 16:03:00 +0000 2020',
 'Thu Dec 10 15:03:58 +0000 2020',
 'Wed Dec 09 23:42:55 +0000 2020',
 'Wed Dec 09 23:25:00 +0000 2020',
 'Wed Dec 09 21:56:07 +0000 2020',
 'Wed Dec 09 21:33:58 +0000 2020',
 'Wed Dec 09 21:13:23 +0000 2020',
 'Wed Dec 09 20:47:15 +0000 2020',
 'Wed Dec 09 20:23:48 +0000 2020',
 'Wed Dec 09 20:12:45 +0000 2020',
 'Wed Dec 09 20:06:58 +0000 2020',
 'Wed Dec 09 19:55:12 +0000 2020',
 'Wed Dec 09 19:41:26 +0000 2020',
 'Wed Dec 09 18:42:37 +0000 2020',
 'Wed Dec 09 18:23:01 +0000 2020',
 'Wed Dec 09 18:15:56 +0000 2020',
 'Wed Dec 09 17:39:45 +0000 2020',
 'Wed Dec 09 15:17:26 +0000 2020',
 'Wed Dec 09 01:05:06 +0000 2020',
 'Tue Dec 08 23:10:00 +0000 2020',
 'Tue Dec 08 20:55:01 +0000 2020',
 'Tue Dec 08 19:45:03 +0000 2020',
 'Tue Dec 08 18:06:31 +0000 2020',
 'Tue Dec 08 17:02:18 +0000 2020',
 'Tue Dec 08 16:08:49 +0000 2020',
 'Tue Dec 08 15:20:06 +0000 2020',
 'Tue Dec 08 04:54:14 +0000 2020',
 'Tue Dec 08 00:24:00 +0000 2020',
 'Mon Dec 07 22:02:06 +0000 2020',
 'Mon Dec 07 21:17:07 +0000 2020',
 'Mon Dec 07 20:45:01 +0000 2020',
 'Mon Dec 07 19:07:37 +0000 2020',
 'Mon Dec 07 18:48:46 +0000 2020',
 'Mon Dec 07 18:31:01 +0000 2020',
 'Mon Dec 07 18:22:43 +0000 2020',
 'Mon Dec 07 18:15:48 +0000 2020',
 'Mon Dec 07 18:03:10 +0000 2020',
 'Mon Dec 07 17:43:30 +0000 2020',
 'Mon Dec 07 17:23:50 +0000 2020',
 'Mon Dec 07 17:07:11 +0000 2020',
 'Mon Dec 07 16:43:27 +0000 2020',
 'Mon Dec 07 16:30:48 +0000 2020',
 'Mon Dec 07 15:43:08 +0000 2020',
 'Mon Dec 07 15:21:39 +0000 2020',
 'Mon Dec 07 14:19:37 +0000 2020',
 'Mon Dec 07 13:44:22 +0000 2020',
 'Sun Dec 06 18:13:18 +0000 2020',
 'Sun Dec 06 17:29:30 +0000 2020',
 'Sun Dec 06 17:24:00 +0000 2020',
 'Sun Dec 06 16:53:15 +0000 2020',
 'Sun Dec 06 16:21:12 +0000 2020',
 'Sun Dec 06 16:20:43 +0000 2020',
 'Sun Dec 06 15:52:15 +0000 2020',
 'Sun Dec 06 15:46:04 +0000 2020',
 'Sun Dec 06 14:24:28 +0000 2020',
 'Sun Dec 06 02:41:15 +0000 2020',
 'Sun Dec 06 02:15:27 +0000 2020',
 'Sat Dec 05 22:50:12 +0000 2020',
 'Sat Dec 05 22:28:07 +0000 2020',
 'Sat Dec 05 18:50:53 +0000 2020',
 'Sat Dec 05 15:45:00 +0000 2020',
 'Sat Dec 05 12:46:47 +0000 2020',
 'Sat Dec 05 01:28:13 +0000 2020',
 'Fri Dec 04 23:56:56 +0000 2020',
 'Fri Dec 04 22:49:01 +0000 2020',
 'Fri Dec 04 22:01:29 +0000 2020',
 'Fri Dec 04 21:44:53 +0000 2020',
 'Fri Dec 04 21:36:44 +0000 2020',
 'Fri Dec 04 21:28:34 +0000 2020',
 'Fri Dec 04 21:17:10 +0000 2020',
 'Fri Dec 04 21:14:08 +0000 2020',
 'Fri Dec 04 21:02:53 +0000 2020',
 'Fri Dec 04 20:30:01 +0000 2020',
 'Fri Dec 04 20:10:00 +0000 2020',
 'Fri Dec 04 19:59:30 +0000 2020',
 'Fri Dec 04 19:53:53 +0000 2020',
 'Fri Dec 04 19:25:30 +0000 2020',
 'Fri Dec 04 18:00:02 +0000 2020',
 'Fri Dec 04 16:41:41 +0000 2020',
 'Fri Dec 04 16:11:15 +0000 2020',
 'Fri Dec 04 04:39:10 +0000 2020',
 'Fri Dec 04 00:02:00 +0000 2020',
 'Thu Dec 03 22:30:34 +0000 2020',
 'Thu Dec 03 21:26:44 +0000 2020',
 'Thu Dec 03 20:01:41 +0000 2020',
 'Thu Dec 03 19:40:00 +0000 2020',
 'Thu Dec 03 19:30:13 +0000 2020',
 'Thu Dec 03 19:00:15 +0000 2020',
 'Thu Dec 03 18:07:35 +0000 2020',
 'Thu Dec 03 17:25:42 +0000 2020',
 'Thu Dec 03 17:06:39 +0000 2020',
 'Thu Dec 03 16:19:22 +0000 2020',
 'Thu Dec 03 16:05:01 +0000 2020',
 'Thu Dec 03 15:42:16 +0000 2020',
 'Thu Dec 03 14:38:54 +0000 2020',
 'Thu Dec 03 00:57:00 +0000 2020',
 'Wed Dec 02 23:10:00 +0000 2020',
 'Wed Dec 02 20:55:06 +0000 2020',
 'Wed Dec 02 20:22:02 +0000 2020',
 'Wed Dec 02 19:59:06 +0000 2020',
 'Wed Dec 02 19:11:30 +0000 2020',
 'Wed Dec 02 18:45:21 +0000 2020',
 'Wed Dec 02 17:24:05 +0000 2020',
 'Wed Dec 02 16:50:38 +0000 2020',
 'Wed Dec 02 00:56:01 +0000 2020',
 'Tue Dec 01 23:43:01 +0000 2020',
 'Tue Dec 01 22:04:35 +0000 2020',
 'Tue Dec 01 15:40:01 +0000 2020',
 'Tue Dec 01 01:31:00 +0000 2020',
 'Mon Nov 30 23:45:03 +0000 2020',
 'Mon Nov 30 23:12:57 +0000 2020',
 'Mon Nov 30 21:39:02 +0000 2020',
 'Mon Nov 30 19:44:15 +0000 2020',
 'Mon Nov 30 16:21:51 +0000 2020',
 'Sun Nov 29 23:35:06 +0000 2020',
 'Sun Nov 29 23:34:37 +0000 2020',
 'Sun Nov 29 20:39:02 +0000 2020',
 'Sun Nov 29 16:55:58 +0000 2020',
 'Sat Nov 28 21:14:06 +0000 2020',
 'Sat Nov 28 19:58:19 +0000 2020',
 'Sat Nov 28 19:42:16 +0000 2020',
 'Sat Nov 28 17:58:41 +0000 2020',
 'Sat Nov 28 17:14:44 +0000 2020',
 'Sat Nov 28 14:20:12 +0000 2020',
 'Sat Nov 28 03:46:01 +0000 2020',
 'Sat Nov 28 03:01:07 +0000 2020',
 'Sat Nov 28 02:09:06 +0000 2020',
 'Sat Nov 28 00:07:01 +0000 2020',
 'Fri Nov 27 22:05:06 +0000 2020',
 'Fri Nov 27 20:03:01 +0000 2020',
 'Fri Nov 27 19:02:00 +0000 2020',
 'Fri Nov 27 17:45:01 +0000 2020',
 'Fri Nov 27 17:04:43 +0000 2020',
 'Fri Nov 27 16:29:21 +0000 2020',
 'Fri Nov 27 15:20:49 +0000 2020',
 'Fri Nov 27 15:19:54 +0000 2020',
 'Fri Nov 27 15:15:17 +0000 2020',
 'Fri Nov 27 13:49:17 +0000 2020',
 'Fri Nov 27 02:47:52 +0000 2020',
 'Thu Nov 26 23:34:01 +0000 2020',
 'Thu Nov 26 22:35:08 +0000 2020',
 'Thu Nov 26 20:39:29 +0000 2020',
 'Thu Nov 26 18:45:36 +0000 2020',
 'Thu Nov 26 16:54:06 +0000 2020',
 'Thu Nov 26 16:46:44 +0000 2020',
 'Wed Nov 25 21:18:40 +0000 2020',
 'Wed Nov 25 19:09:52 +0000 2020',
 'Wed Nov 25 15:58:32 +0000 2020',
 'Wed Nov 25 15:04:32 +0000 2020',
 'Wed Nov 25 01:02:00 +0000 2020',

6\. Select the first 3 rows from `df`.

In [ ]:
# Your answer here
df.head(3)

             status_id  ... retweet_created_at
0  1354552906175934477  ...                NaN
1  1354549784061865986  ...                NaN
2  1354546326139265030  ...                NaN

[3 rows x 7 columns]

7\. Select the last 3 rows from `df`.

In [ ]:
# Your answer here
df.tail(3)

                status_id  ...              retweet_created_at
3197  1265327291468562432  ...                             NaN
3198  1265327258274840576  ...                             NaN
3199  1265317908068085761  ...  Tue May 26 16:09:54 +0000 2020

[3 rows x 7 columns]

8. Select the element at row index position 999 and in the `text` column.

In [ ]:
# Your answer here
df["text"][999]

'RT @NASAMoon: Happy HalloweenüéÉ! A full Moon is always a treat, but this one is a tricksterüëª As the second full Moon in a month, we call i‚Ä¶'

9\. Select the element in the fifth row and the third column.

In [ ]:
# Your answer here
df.iloc[0, 2]

"It once held a lake. And what we're going to do, as soon as we get there, is to explore the rocks that were deposi‚Ä¶ https://t.co/UW9wngvx4C"

10\. Select all values from the last column, without specifying the column label.

In [ ]:
# Your answer here
df.iloc[:, -1]

0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4       Wed Jan 27 20:18:56 +0000 2021
                     ...
3195    Tue May 26 19:36:00 +0000 2020
3196                               NaN
3197                               NaN
3198                               NaN
3199    Tue May 26 16:09:54 +0000 2020
Name: retweet_created_at, Length: 3200, dtype: object

11\. Select all rows in the last two columns, without specifying the column labels.

In [ ]:
# Your answer here
df.iloc[:,-2:]

      is_retweet              retweet_created_at
0              0                             NaN
1              0                             NaN
2              0                             NaN
3              0                             NaN
4              1  Wed Jan 27 20:18:56 +0000 2021
...          ...                             ...
3195           1  Tue May 26 19:36:00 +0000 2020
3196           0                             NaN
3197           0                             NaN
3198           0                             NaN
3199           1  Tue May 26 16:09:54 +0000 2020

[3200 rows x 2 columns]

12\. Select the first five rows in the last two columns, without specifying the column labels.

In [ ]:
# Your answer here
df.iloc[:5, -2:]

   is_retweet              retweet_created_at
0           0                             NaN
1           0                             NaN
2           0                             NaN
3           0                             NaN
4           1  Wed Jan 27 20:18:56 +0000 2021

13\. Select all rows from `df` with the `favorite_count` column value being strictly larger than 5000.

In [ ]:
# Your answer here
df[df.favorite_count>5000]

                status_id  ... retweet_created_at
32    1354376310638977025  ...                NaN
34    1354246577523740674  ...                NaN
43    1354102852323520513  ...                NaN
52    1353431128766603264  ...                NaN
56    1353081323578150912  ...                NaN
...                   ...  ...                ...
3168  1265655788858748929  ...                NaN
3171  1265643951513624579  ...                NaN
3174  1265577232728285190  ...                NaN
3181  1265478732019650562  ...                NaN
3194  1265386899197308928  ...                NaN

[512 rows x 7 columns]

14\. Select all rows from `df` with the `favorite_count` column value being between 5000 (inclusive) and 10000 (exclusive).

In [ ]:
# Your answer here
df[(df.favorite_count>=5000) & (df.favorite_count<10000)]

                status_id  ... retweet_created_at
32    1354376310638977025  ...                NaN
34    1354246577523740674  ...                NaN
43    1354102852323520513  ...                NaN
52    1353431128766603264  ...                NaN
59    1352754920852697088  ...                NaN
...                   ...  ...                ...
3140  1265692470869925888  ...                NaN
3155  1265685570564603904  ...                NaN
3156  1265685157257842690  ...                NaN
3171  1265643951513624579  ...                NaN
3194  1265386899197308928  ...                NaN

[333 rows x 7 columns]

15\. Create a random sample of 100 rows from `df` without duplicates.

In [ ]:
# Your answer here
df.sample(n=100, replace = False, random_state=0)

                status_id  ...              retweet_created_at
536   1333192674883592193  ...  Sun Nov 29 22:36:06 +0000 2020
1716  1298701153899810818  ...                             NaN
499   1334900692603965441  ...  Fri Dec 04 15:58:26 +0000 2020
567   1331676497069842433  ...  Wed Nov 25 18:25:30 +0000 2020
2567  1278343229876903939  ...                             NaN
...                   ...  ...                             ...
1763  1296478350924488707  ...  Thu Aug 20 15:09:02 +0000 2020
3133  1265696086083227648  ...                             NaN
2737  1273711084193619970  ...                             NaN
2549  1278450641409642498  ...                             NaN
2361  1284997702393233410  ...  Sun Jul 19 23:41:02 +0000 2020

[100 rows x 7 columns]

## Dataframe Iteration & File Writing

Let's continue to use `df`.

1\. Select the first ten values from the `text` column of `df` and print the first 30 characters of each value concatenated by the string '...'. Rows in the printed output are separated by a new line. For example, the first three rows in the printed output look as follows.

It once held a lake. And what ...<br>
I asked the team [...] to come...<br>
Perseverance is the very first...<br>

In [ ]:
# Your answer here
for text in df[:10].text:
    print(text[:30] + "...")

It once held a lake. And what ...
I asked the team [...] to come...
Perseverance is the very first...
üî¥ LIVE: Tune in for a preview ...
RT @NASAMars: Don't forget to ...
Just 22 more days until we #Co...
RT @NASAExoplanets: üì£Discovery...
RT @Space_Station: .@Astro_Ill...
That's a wrap! @Astro_illini a...
Success! With a bit of strengt...

2\. Select the first ten rows from `df` and print the values of each row in the following format: 'created at: CREATED_AT, text: TEXT, retweet_count: RETWEET_COUNT', where CREATED_AT, TEXT, and RETWEET_COUNT are the values from the three columns `created_at`, `text`, and `retweet_count`, respectively. Rows are separated by two new lines. For example, the first three rows in the printed output look as follows.

created_at: Wed Jan 27 22:12:33 +0000 2021, text: It once held a lake. And what we're going to do, as soon as we get there, is to explore the rocks that were deposi‚Ä¶ https://t.co/UW9wngvx4C, retweet_count: 72<br>

created_at: Wed Jan 27 22:00:09 +0000 2021, text: I asked the team [...] to come up with something that would symbolize, to mark this challenge and thank in particu‚Ä¶ https://t.co/QH235r9zjq, retweet_count: 50<br>

created_at: Wed Jan 27 21:46:25 +0000 2021, text: Perseverance is the very first rover designed to seek signs of past microbial life, by collecting and caching rock‚Ä¶ https://t.co/nn72OHRVv6, retweet_count: 135<br>

In [ ]:
# Your answer here
df_ten = df[:10]
for idx, row in df_ten.iterrows():
  print(f"created_at: {row.created_at}, text: {row.text}, retweet_count: {row.retweet_count}\n")

created_at: Wed Jan 27 22:12:33 +0000 2021, text: It once held a lake. And what we're going to do, as soon as we get there, is to explore the rocks that were deposi‚Ä¶ https://t.co/UW9wngvx4C, retweet_count: 72

created_at: Wed Jan 27 22:00:09 +0000 2021, text: I asked the team [...] to come up with something that would symbolize, to mark this challenge and thank in particu‚Ä¶ https://t.co/QH235r9zjq, retweet_count: 50

created_at: Wed Jan 27 21:46:25 +0000 2021, text: Perseverance is the very first rover designed to seek signs of past microbial life, by collecting and caching rock‚Ä¶ https://t.co/nn72OHRVv6, retweet_count: 135

created_at: Wed Jan 27 21:30:27 +0000 2021, text: üî¥ LIVE: Tune in for a preview of the next Mars landing! On Feb. 18, our @NASAPersevere rover will arrive at the Red‚Ä¶ https://t.co/rHRhIrzXWR, retweet_count: 374

created_at: Wed Jan 27 21:22:15 +0000 2021, text: RT @NASAMars: Don't forget to join us for today's briefing at 4:30pm ET (21:30 UTC): https://t.co/fGItMYWnFR Tag your questions #Countdown‚Ä¶, retweet_count: 137

created_at: Wed Jan 27 20:04:59 +0000 2021, text: Just 22 more days until we #CountdownToMars. Our @NASAPersevere rover is nearing the end of its 292.5-million-mile‚Ä¶ https://t.co/DtT1K7l9GF, retweet_count: 406

created_at: Wed Jan 27 19:32:23 +0000 2021, text: RT @NASAExoplanets: üì£Discovery alert!üì£In a first, astronomers find a system of six stars made of three eclipsing binaries. Stars orbit the‚Ä¶, retweet_count: 880

created_at: Wed Jan 27 19:15:05 +0000 2021, text: RT @Space_Station: .@Astro_Illini and @AstroVicGlover completed today's spacewalk at 1:24pm ET after installing a new science antenna then‚Ä¶, retweet_count: 279

created_at: Wed Jan 27 18:36:21 +0000 2021, text: That's a wrap! @Astro_illini and @AstroVicGlover concluded today's spacewalk at 1:24pm ET, following a 6-hour and 5‚Ä¶ https://t.co/JE1eRgQtFx, retweet_count: 260

created_at: Wed Jan 27 18:01:20 +0000 2021, text: Success! With a bit of strength and skill, @Astro_illini removed the H-fixture from the @Space_Station, opening the‚Ä¶ https://t.co/qw0zfcfn9X, retweet_count: 211

3\. Select all rows from `df` with the `is_retweet` column value being 0 and save the resulting dataframe in a CSV file named `hw3_output.csv` in the `outcome` folder such that the column separator is a tab and it contains the index of the dataframe.

In [ ]:
# Your answer here
df_save = df[df.is_retweet==0]
df_save.to_csv(f"{outcome_folder}/hw3_output.csv", sep="\t", index=False)

## Adding Columns to a Dataframe

Let's continue to use `df`.

1\. Add a new column `text_shortened` to `df` such that each value in the column is the first 30 characters of the `text` column value concatenated by the string '...'.

In [ ]:
# Your answer here
df["text_shortened"] = df.text.apply(lambda x: x[:30] + "...")

In [ ]:
# Check your answer here.
df[["text", "text_shortened"]]

                                                                                                                                              text                     text_shortened
0      It once held a lake. And what we're going to do, as soon as we get there, is to explore the rocks that were deposi‚Ä¶ https://t.co/UW9wngvx4C  It once held a lake. And what ...
1      I asked the team [...] to come up with something that would symbolize, to mark this challenge and thank in particu‚Ä¶ https://t.co/QH235r9zjq  I asked the team [...] to come...
2      Perseverance is the very first rover designed to seek signs of past microbial life, by collecting and caching rock‚Ä¶ https://t.co/nn72OHRVv6  Perseverance is the very first...
3     üî¥ LIVE: Tune in for a preview of the next Mars landing! On Feb. 18, our @NASAPersevere rover will arrive at the Red‚Ä¶ https://t.co/rHRhIrzXWR  üî¥ LIVE: Tune in for a preview ...
4      RT @NASAMars: Don't forget to join us for today's briefing at 4:30pm ET (21:30 UTC): https://t.co/fGItMYWnFR Tag your questions #Countdown‚Ä¶  RT @NASAMars: Don't forget to ...
...                                                                                                                                            ...                                ...
3195    RT @NASAKennedy: Looking for live views of the launch pad? We got you covered. üöÄüëÄCheck out the rocket that will carry @AstroBehnken and @‚Ä¶  RT @NASAKennedy: Looking for l...
3196  For the first time since 2011, we‚Äôre sending American astronauts back to space, on an American rocket, from America‚Ä¶ https://t.co/FsC1feO84c  For the first time since 2011,...
3197    LIVE: Want to go behind-the-scenes of #LaunchAmerica?Join our experts on @reddit to ask questions about the missi‚Ä¶ https://t.co/p7iqJY4jyX  LIVE: Want to go behind-the-sc...
3198                                                               @brandonleblanc @SpaceX @AmyShiraTeitel See you online! https://t.co/FaQ7K75sBP  @brandonleblanc @SpaceX @AmySh...
3199  RT @NASAEarth: Ready to #LaunchAmerica? Tomorrow, two astronauts üë®üèª‚ÄçüöÄüë®üèª‚ÄçüöÄ are launching üöÄ to the @Space_Station from @NASAKennedy‚Äôs histori‚Ä¶  RT @NASAEarth: Ready to #Launc...

[3200 rows x 2 columns]

2\. Add a new column `first_last_token` to `df` such that each column value is a tuple with two elements: the first element being the first token of the `text` column value and the second one being the last token (use the <b>split</b> method).

In [ ]:
# Your answer here
df["first_last_token"] = df.text.apply(lambda x: "("+x.split(" ")[0]+", "+x.split(" ")[-1]+")")

In [ ]:
# Check your answer here.
df[["text", "first_last_token"]]

                                                                                                                                              text                            first_last_token
0      It once held a lake. And what we're going to do, as soon as we get there, is to explore the rocks that were deposi‚Ä¶ https://t.co/UW9wngvx4C               (It, https://t.co/UW9wngvx4C)
1      I asked the team [...] to come up with something that would symbolize, to mark this challenge and thank in particu‚Ä¶ https://t.co/QH235r9zjq                (I, https://t.co/QH235r9zjq)
2      Perseverance is the very first rover designed to seek signs of past microbial life, by collecting and caching rock‚Ä¶ https://t.co/nn72OHRVv6     (Perseverance, https://t.co/nn72OHRVv6)
3     üî¥ LIVE: Tune in for a preview of the next Mars landing! On Feb. 18, our @NASAPersevere rover will arrive at the Red‚Ä¶ https://t.co/rHRhIrzXWR                (üî¥, https://t.co/rHRhIrzXWR)
4      RT @NASAMars: Don't forget to join us for today's briefing at 4:30pm ET (21:30 UTC): https://t.co/fGItMYWnFR Tag your questions #Countdown‚Ä¶                           (RT, #Countdown‚Ä¶)
...                                                                                                                                            ...                                         ...
3195    RT @NASAKennedy: Looking for live views of the launch pad? We got you covered. üöÄüëÄCheck out the rocket that will carry @AstroBehnken and @‚Ä¶                                    (RT, @‚Ä¶)
3196  For the first time since 2011, we‚Äôre sending American astronauts back to space, on an American rocket, from America‚Ä¶ https://t.co/FsC1feO84c              (For, https://t.co/FsC1feO84c)
3197    LIVE: Want to go behind-the-scenes of #LaunchAmerica?Join our experts on @reddit to ask questions about the missi‚Ä¶ https://t.co/p7iqJY4jyX            (LIVE:, https://t.co/p7iqJY4jyX)
3198                                                               @brandonleblanc @SpaceX @AmyShiraTeitel See you online! https://t.co/FaQ7K75sBP  (@brandonleblanc, https://t.co/FaQ7K75sBP)
3199  RT @NASAEarth: Ready to #LaunchAmerica? Tomorrow, two astronauts üë®üèª‚ÄçüöÄüë®üèª‚ÄçüöÄ are launching üöÄ to the @Space_Station from @NASAKennedy‚Äôs histori‚Ä¶                              (RT, histori‚Ä¶)

[3200 rows x 2 columns]

3\. Add a new column `metrics` to `df` such that each column value is a tuple with three values from the three columns `retweet_count`, `favorite_count`, and `is_retweet`, respectively, in order.

In [ ]:
# Your answer here
# df["metrics"] = df.apply(lambda x: "("+ x.retweet_count +", "+ x.favorite_count + ", "+ x.is_retweet +")", axis=1)
                         
def combine_columns(row):
    rc = row.retweet_count
    fc = row.favorite_count
    ir = row.is_retweet
    return f"({rc}, {fc}, {ir})"
    
df["metrics"] = df.apply(lambda x: combine_columns(x), axis=1)

In [ ]:
# Check your answer here.
df[["retweet_count", "favorite_count", "is_retweet", "metrics"]]

      retweet_count  favorite_count  is_retweet         metrics
0                72             462           0    (72, 462, 0)
1                50             361           0    (50, 361, 0)
2               135             870           0   (135, 870, 0)
3               374            1430           0  (374, 1430, 0)
4               137               0           1     (137, 0, 1)
...             ...             ...         ...             ...
3195           1197               0           1    (1197, 0, 1)
3196            622            2614           0  (622, 2614, 0)
3197            253            1942           0  (253, 1942, 0)
3198              2               6           0       (2, 6, 0)
3199            595               0           1     (595, 0, 1)

[3200 rows x 4 columns]

4\. Add a new column `num_mentions` to `df` such that each column value is the number of '@' symbols in the `text` column value.

In [ ]:
# Your answer here
df["num_mentions"] = df.text.str.contains("@") #case=falseÏù¥Î©¥, ÎåÄÏÜåÎ¨∏Ïûê Íµ¨Î∂Ñ X

In [ ]:
# Check your answer here.
df[["text", "num_mentions"]]

                                                                                                                                              text  num_mentions
0      It once held a lake. And what we're going to do, as soon as we get there, is to explore the rocks that were deposi‚Ä¶ https://t.co/UW9wngvx4C         False
1      I asked the team [...] to come up with something that would symbolize, to mark this challenge and thank in particu‚Ä¶ https://t.co/QH235r9zjq         False
2      Perseverance is the very first rover designed to seek signs of past microbial life, by collecting and caching rock‚Ä¶ https://t.co/nn72OHRVv6         False
3     üî¥ LIVE: Tune in for a preview of the next Mars landing! On Feb. 18, our @NASAPersevere rover will arrive at the Red‚Ä¶ https://t.co/rHRhIrzXWR          True
4      RT @NASAMars: Don't forget to join us for today's briefing at 4:30pm ET (21:30 UTC): https://t.co/fGItMYWnFR Tag your questions #Countdown‚Ä¶          True
...                                                                                                                                            ...           ...
3195    RT @NASAKennedy: Looking for live views of the launch pad? We got you covered. üöÄüëÄCheck out the rocket that will carry @AstroBehnken and @‚Ä¶          True
3196  For the first time since 2011, we‚Äôre sending American astronauts back to space, on an American rocket, from America‚Ä¶ https://t.co/FsC1feO84c         False
3197    LIVE: Want to go behind-the-scenes of #LaunchAmerica?Join our experts on @reddit to ask questions about the missi‚Ä¶ https://t.co/p7iqJY4jyX          True
3198                                                               @brandonleblanc @SpaceX @AmyShiraTeitel See you online! https://t.co/FaQ7K75sBP          True
3199  RT @NASAEarth: Ready to #LaunchAmerica? Tomorrow, two astronauts üë®üèª‚ÄçüöÄüë®üèª‚ÄçüöÄ are launching üöÄ to the @Space_Station from @NASAKennedy‚Äôs histori‚Ä¶          True

[3200 rows x 2 columns]